.card-header {
    text-align: center;
    color: rgb(25, 26, 26);
}

.card {
    background-color: rgb(54, 129, 204);
}

.card-body {
    background-color: rgb(107, 109, 111);
}

.input {
    background-color: brown;
}

.placeholder {
    color: azure;
}

.button {
    background-color: orange;
}

.blockquote-footer {
    background-color: orange;
}